{% extends "activity_base.html" %}

{% block title %} {{ activity.caption }} {% endblock %}


{% block content %}
<div class="content">
    <article class="content-main">
    {% block article_title %}
        {% if activity.tickets_dispatched == True %}
        <h2>(已抽取){{ activity.caption }}</h2>
        {% else %}
        <h2>(未抽取){{ activity.caption }}</h2>
        {% endif %}
    {% endblock %}
        <p class="muted">
            <i class="icon-user"></i><small> {{ activity.author }}</small>  
            <i class="icon-time"></i><small> {{ activity.publish_time }}</small>
        </p>
        <section>
            <div class="activity-poster">
                {% if activity.posters != None %}
                <div><a href="/media/{{activity.posters.image}}"><img class="lazy" src="/media/{{ activity.posters.thumb }}"></a></div>
                {% endif %}
            </div>
        </section>
        <section>
            <div class="activity-destruction">
                {% block article_content %}
        		<div>{{ activity.destruction|safe|truncatechars:200 }} </div>
                {% endblock %} 
            </div>
        </section>
        <section>
            <hr>
            <div class="activity-ticket-number">
                申请数量/总票数：{{ activity.ticket_requests.count }}/{{ activity.ticket_number }}
            </div>
        </section>
        <section>
            <hr>
            <div class="activity-ticket-request">
                申请列表：
                {% for user in activity.ticket_requests.all %}
                    {{ user }}
                {% endfor %}
            </div>
        </section>
        <section>
            <hr>
            <div class="row-fluid post-info">
                <div class="span3">
                    <p>
                        {% for catagory in activity.catagories.all %}
                            <i class="icon-tag"></i>
                            <small class="muted"> {{ catagory }} </small>
                        {% endfor %}
                    </p>  
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="row-fluid post-info">
                <div class="span3">
                    <p>  

                    </p>  
                </div>
            </div>
            {% endif %}
        </section>    
    </article>
    <hr>
</div>    
{% endblock %}

{% block aside %}
    <ul class="nav pinned">
    {% block tags %}
        <li><a class="list-group-item" href="/admin/ticket_backend/activity/{{ activity.id }}">编辑活动</a></li>
        {% if activity.tickets_dispatched == False %}
        <li><a class="list-group-item" href="{% url "genresult" activity.id %}">抽选用户</a></li>
        {% else %}
        <li><a class="list-group-item" href="{% url "showresult" activity.id %}">查看结果</a></li>
        {% endif %}
    {% endblock %}
    </ul>
{% endblock %}