{% extends "activity_base.html" %}

{% block title %} 活动列表 {% endblock %}

{% block content %}
    {% for activity in activities %}
        <div class="col-sm-9 col-md-4">
            <div class="thumbnail">
                <div class="activity-poster">
                    {% if activity.posters != None %}
                        <div><a href="/media/{{activity.posters.image}}">
                            <img class="lazy" src="/media/{{ activity.posters.thumb }}"
                        </a></div>
                    {% endif %}
                </div>
                <img src="/static/img/hb2.jpg" alt="">

                <div class="caption">
                    {% if activity.tickets_dispatched %}
                        <h4><a href="#">{{ activity.caption }}
                            <small>(已抽取)</small>
                        </a></h4>
                    {% else %}
                        <h4><a href="#">{{ activity.caption }}
                            <small>(未抽取)</small>
                        </a></h4>
                    {% endif %}
                    <p class="muted">
                        <i class="icon-user"></i><small> {{ activity.author }}</small>
                    </p>
                    <p class="muted">
                        {% for catagory in activity.catagories.all %}
                            <i class="icon-tag"></i> <code>{{ catagory }}</code>
                        {% endfor %}
                    </p>
                    <div class="activity-ticket-number">
                        申请数量/总票数：{{ activity.ticket_requests.count }}/{{ activity.ticket_number }}
                    </div>
                    <p><a class="btn btn-default btn-xs" href="{% url "detailactivity" activity.id %}" role="button">查看详情 &raquo;</a>
                        <a class="btn btn-default btn-xs" href="/admin/ticket_backend/activity/{{ activity.id }}" role="button">编辑活动 &raquo;</a>
                    {% if activity.tickets_dispatched == False %}
                        <a class="btn btn-default btn-xs" href="{% url "genresult" activity.id %}"
                           role="button">抽取用户 &raquo;</a>
                    {% else %}
                        <a class="btn btn-default btn-xs" href="{% url "showresult" activity.id %}"
                           role="button">查看结果 &raquo;</a>
                    {% endif %}
                </p>
                </div>
            </div>
        </div>
    {% endfor %}

    {#    {% for activity in activities %}#}
    {#        {% if activity.tickets_dispatched %}#}
    {#        <h4><a href="{% url "detailactivity" activity.id %}">(已发票){{ activity.caption }}</a></h4>#}
    {#        {% else %}#}
    {#        <h4><a href="{% url "detailactivity" activity.id %}">(未发票){{ activity.caption }}</a></h4>#}
    {#        {% endif %}#}
    {#        <p class="muted">#}
    {#            {% for catagory in activity.catagories.all %}#}
    {#                <i class="icon-tag"></i> <code>{{ catagory }}</code>#}
    {#            {% endfor %}#}
    {#        </p>#}

    {#        <div>#}
    {#          <p>{{ activity.destruction|safe|truncatechars:200 }}</p>#}
    {#          <p>#}
    {#              <a class="btn btn-default" href="{% url "detailactivity" activity.id %}" role="button">查看详情 &raquo;</a>#}
    {#              <a class="btn btn-default" href="/admin/ticket_backend/activity/{{ activity.id }}" role="button">编辑活动 &raquo;</a>#}
    {#              {% if activity.tickets_dispatched == False %}#}
    {#              <a class="btn btn-default" href="{% url "genresult" activity.id %}" role="button">抽取用户 &raquo;</a>#}
    {#              {% else %}#}
    {#              <a class="btn btn-default" href="{% url "showresult" activity.id %}" role="button">查看结果 &raquo;</a>#}
    {#              {% endif %}#}
    {#          </p>#}
    {#        </div>#}
    {##}
    {#        <div class="row-fluid">#}
    {#            <div class="span3">#}
    {#                <p class="muted"><i class="icon-time"></i><small> {{ activity.publish_time }}</small></p>#}
    {#            </div>#}
    {#        </div>#}
    {#    <hr>#}
    {#    {% endfor %}#}
{% endblock %}